# Игнорировать скомпилированные файлы

# IDE и Editor specific files
.eslintignore
.eslintrc.json
.gitattributes
eslint.config.mjs
.editorconfig
postcss.config.js

# Логи и временные файлы
*.log
*.tmp
temp/


.github/workflows
