@use "../base/_colors";

.app-btn {
  background: transparent;
  border: none;
  cursor: pointer;
 transition: filter 0.3s ease;
	&:hover {
		filter: contrast(1.5);
		opacity: 0.6;
	}
}
.button {
  color: colors.$white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  background-color: colors.$pink;
  border-radius: 16px;
  padding: 4px 12px;
  position: relative;
  width: 119px;
  height: 32px;
  &::after {
    content: url('~@src/img/icons/dropdown-white.svg');
    position: absolute;
    right: 15px;
    top: 9px;
  }
  &--submit {
    align-self: end;
  }
}

.expand-btn {
  display: none;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  white-space: nowrap;
  gap: 8px;

  &__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    display: inline-block;
    background-image: url('~@src/img/icons/expand_icon.svg');
    background-repeat: no-repeat;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }

  &::before {
    position: absolute;
    content: url('~@src/img/icons/expand_icon.svg');
    left: -32px;
  }

  &--expanded::before {
    transform: rotate(180deg);
    transition: transform 0.2s ease-out;
    top: -8px;
  }

   &--expanded {
    &__icon {
      transform: rotate(180deg);
    }
  }

  @media (min-width: 768px) {
    display: flex;
  }
}
