$white: #FFFFFF;
$page: #F8F8F8;
$pink: #FF3E79;
$black: #1B1C21;
$title: rgba(126, 126, 130, 1);
$bgc-img: rgba(248, 248, 248, 1);
$bgc: rgba(248, 248, 248, 0);
$overlay: rgba(255, 255, 255, 0.9);
$shadow-one: rgba(69, 79, 126, 0.02);
$shadow-two: rgba(14, 24, 80, 0.2);
$modal-one: rgba(0, 0, 0, 0.1);
$modal-two: rgba(217, 255, 245, 1);
$text-gray: #7E7E82;
$border-active: #B8FFEC;
$slide-border: #EAEAEA;
$divider-color: #D9FFF5;
$title-decoration: #41F6D7;
$pagination: #DDDDDD;
$pagination-active:#B5B6BC;
$stroke: #979797;