@use "../base/_colors";

.repair-brands {
  &__items {
    row-gap: 16px;
  }

  &__slider {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 16px 0 24px 0;

    &::before {
      content: "";
      width: 24px;
      height: 81px;
      position: absolute;
      top: 7px;
      z-index: 10;
      background: linear-gradient(to right, colors.$bgc-img, colors.$bgc);
      left: 0;
    }

    &::after {
      content: "";
      width: 24px;
      height: 81px;
      position: absolute;
      top: 7px;
      z-index: 10;
      background: linear-gradient(to left, colors.$bgc-img, colors.$bgc);
      right: 0;
    }
  }

  &__pagination {
    position: relative;
    --swiper-pagination-bottom: 0px;
    padding-top: 16px;
  }

  &__item-link {
    width: 240px;
    max-height: 72px;
    align-items: center;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid colors.$slide-border;
    background-color: colors.$white;
    border-radius: 6px;
  }

  &__header-title {
    border-top: 1px solid colors.$divider-color;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: colors.$title;
    padding: 16px;
    font-weight: normal;
    text-transform: uppercase;
    background: linear-gradient(90deg, colors.$page, colors.$white);
  }

  @media (min-width: 768px) {
    &__header-title {
      padding: 16px 24px;
    }

    &__pagination {
      display: none;
    }

    &__slider {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      padding: 24px;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    &__item {
      max-width: 224px;
    }

    &__item-link {
      width: 224px;
    }
  }

  @media (min-width: 1120px) {
    &__header-title {
      padding: 16px 32px;
    }

    &__slider {
      padding-top: 24px;
    }

    &__item {
      max-width: 240px;
    }
  }
}
